@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(background-img/background-pokeapi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#input-buscar-pokemon {
    width: 320px;
    height: 50px;
    border-radius: 20px;
    padding: 12px;
    outline: none;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    color: #FFFFFF;
}

#input-buscar-pokemon::placeholder {
    color: #FFFFFF;
}

#container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#card {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.5);
    padding: 36px clamp(12px, 2.3vh, 24px);
}

.poke-hp {
    width: 80px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    background-color: #FFFFFF;
    margin-left: auto;
    border-radius: 30px;
    padding: 8px 0;
}

.poke-hp span {
    font-weight: 600;
    font-size: clamp(12px, 1.9vh, 20px);
}

.poke-name {
    font-size: clamp(16px, 3.9vh, 40px);
    font-weight: 600;
    text-align: center;
}

.poke-img {
    display: block;
    width: 180px;
    height: 180px;
    max-height: 180px;
    margin: 2vh auto;
    object-fit: contain;
}

.types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 40px 0px;
}

.types span {
    font-size: clamp(12px, 1.9vh, 20px);
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
}

.status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    text-align: center;
}

.btn {
    background: none;
    padding: 16px 80px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #101010;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
}

.btn:hover {
    color: #101010;
    z-index: 999;
    transform: scale(1.05);
}

.btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top top;
}

.btn-gerar::before {
    transform: scaleX(0);
}

.btn-gerar:hover::before {
    transform: scaleX(1);
}
